.signin {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 100vh;
}
.signin-left {
  background-image: url(https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  width: 50%;
}

.signin-right {
  width: 50%;
  padding: 150px 0;
}

.signin-container {
  max-width: 24rem;
  margin: 0 auto;
  text-align: left;
}

.signin-header {
  margin: 0 0 2rem 0;
}

.signin-heading {
  font-size: 1.875rem;
  margin: 0 0 0.5rem 0;
  color: #17055a;
}

.sigin-welcomeMessage {
  color: #9fa3a6;
  font-size: 1.25rem;
  margin: 0;
}

.signin-form {
  margin: 0 0 3rem 0;
}

.signin-row {
  margin: 0 0 0.5rem 0;
}

.signin-row--password {
  margin: 0 0 3rem 0;
}

.signin-formLabel {
  display: block;
  margin: 0 0 0.5rem 0;
  color: #919394;
}

.signin-formInput {
  width: 100%;
  padding: 0.75rem 0.75rem;
  border: thin solid #efeef4;
  border-radius: 0.25rem;
}

.signin-formButton {
  width: 100%;
  color: #fff;
  background-color: #9178b4;
  border: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.signin-link,
.signin-link:link,
.signin-link:visited {
  color: #9178b4;
  font-weight: 600;
}
