.page {
  width: 56rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 1.5rem;
}

.addClientButton {
  display: flex;
  border: none;
  background-color: #b8c3df;
  font-size: 0.875rem;
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  width: 8rem;
  justify-content: center;
  font-family: Arial;
}

.plusSvg {
  width: 1rem;
  height: 1rem;
  fill: #fff;
  margin: 0 0.5rem 0 0;
}

.tableControls {
  display: flex;
  justify-content: space-between;
}
