.suggestionItem {
  padding: var(--spacing-x-small, 0.5rem) var(--spacing-x-small, 0.5rem);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.suggestionItem:hover {
  background-color: var(--color-primary, rgb(196, 181, 253));
}
